body {
    font: 14px "Century Gothic", Futura, sans-serif;
  }
  
.power-container{
  position:absolute;
  left: 45px;
}

.power_chart{
  margin: 0px;
}

.dateContainer{
  position:absolute;
  right: 10px;
}

.endDateRangeContainer{
  margin-left: 5px;
}
